{:paths
 ["src"
  "resources"]
 :deps {metosin/tilakone {:git/url "https://github.com/eihli/tilakone.git"
                          :git/sha "25341ca5a60fe85ee0da327b714bbee481f7d52d"}
        mount/mount {:mvn/version "0.1.16"}
        nano-id/nano-id {:mvn/version "1.0.0"}
        metosin/muuntaja {:mvn/version "0.6.8"}
        lilactown/helix {:mvn/version "0.1.3"}
        io.rkn/conformity {:mvn/version "0.5.1"}
        com.cognitect/transit-cljs {:mvn/version "0.8.269"}
        cprop/cprop {:mvn/version "0.1.18"}
        aysylu/loom {:mvn/version "1.0.2"}
        datascript/datascript {:mvn/version "1.2.8"}
        postmortem/postmortem {:mvn/version "0.5.0"}
        cljs-ajax/cljs-ajax {:mvn/version "0.8.4"}
        com.taoensso/sente {:mvn/version "1.16.2"}
        com.google.guava/guava {:mvn/version "25.1-jre"}
        applied-science/js-interop {:mvn/version "0.3.1"}
        json-html/json-html {:mvn/version "0.4.7"}
        com.taoensso/timbre {:mvn/version "5.1.2"}
        nrepl/nrepl {:mvn/version "0.8.3"}
        expound/expound {:mvn/version "0.8.9"}
        funcool/struct {:mvn/version "1.4.0"}
        metosin/reitit {:mvn/version "0.5.13"}
        org.clojure/core.async {:mvn/version "1.3.622"}
        datascript-transit/datascript-transit {:mvn/version "0.3.0"}}

 :aliases
 {:cljs
  {:extra-paths ["dev"]
   :extra-deps  {binaryage/devtools {:mvn/version "1.0.4"}
                 thheller/shadow-cljs {:mvn/version "2.15.10"}}}

  :test {:extra-paths ["test"]
         :extra-deps {thheller/shadow-cljs {:mvn/version "2.15.10"}}}}}
