{:deps {:aliases [:cljs :test]}
 :dev-http {4200 "public"}
 :builds
 {:frontend
  {:target :browser
   :output-dir "public/js"
   :asset-path "js"
   :dev {:compiler-options {:output-feature-set :es6}}
   :modules {:main {:init-fn rdd.core/init!}}
   :release {:compiler-options {:optimizations :advanced}}
   :devtools {:reload-strategy :full
              :repl-init-ns user
              :preloads [rdd.dev]}}

  :test {:target    :browser-test
         :test-dir  "resources/public/js/test"
         :devtools {:http-port 8021
                    :http-root "resources/public/js/test"}}}}



