;; Final node structure to send to render
{:sample-node-data-1 {:id 1
                      :name "Chorizo"
                      :cost 10
                      :yield 1
                      :children [{:id 2
                                  :name "Sauce - Sweet"
                                  :cost 10
                                  :yield 10
                                  :uom "g"
                                  :children [{:id 3
                                              :name "Salt"
                                              :yield 50
                                              :cost 1
                                              :uom "g"}
                                             {:id 4
                                              :name "Pepper"
                                              :yield 50
                                              :cost 1
                                              :uom "g"}]}
                                 {:id 4
                                  :name "Sauce - Spicy"
                                  :cost 10
                                  :yield 10
                                  :uom "g"
                                  :children [{:id 3
                                              :name "Salt"
                                              :cost 1
                                              :quantity 50
                                              :yield 1
                                              :uom "g"}
                                             {:id 4
                                              :name "Pepper"
                                              :cost 1
                                              :quantity 50
                                              :yield 1
                                              :uom "g"}]}]}}